* {
	margin: 0;
	padding: 0;

}

body {
	background-color: #232323;
	text-transform: uppercase;
	font-family: Arial;
}

.selected {
	background-color: steelblue;
	color: white;
}

.secondNav {
	background: white;
	text-align: center;
	color: black;
}

button {
	border-style: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	letter-spacing: 1px;
	transition: all .3s;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color: white;

}

.secondNav > span {
	color: steelblue;
	display: inline-block;
	width: 24%;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 2rem;
	transition: background .3s;
}

#container {
	max-width: 44.4444444444%;
	margin: 20px auto;
}

h1 {
	font-weight: normal;
	color: white;
	margin: 0 auto;
	text-align: center;
	background-color: steelblue;
	padding: 1rem 0;
}

h1 > span {
	font-size: 3rem;
	display: block;
}

span {
	color: white;
}

.harder {
	display: hidden;
}
